@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f3;
}
.icons a {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #ecf0f3;
  display: inline-flex;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.icons a:hover:before {
  content: "";
  background-color: #ecf0f3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff,
  inset 3px 3px 5px #ecf0f3;
}
.icons a i{
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
}
.icons a:hover i{
  transform: scale(0.9);
}
.icons a:nth-child(1){
  color: #4267B2;
}
.icons a:nth-child(2){
  color: #1DA1F2;
}
.icons a:nth-child(3){
  color: #E1306C;
}
.icons a:nth-child(4){
  color: #333;
}
.icons a:nth-child(5){
  color: #ff0000;
}