@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  background-color: #4070f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
}
.container .skill-box{
  width: 100%;
  margin: 25px 0;
}
.skill-box .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.skill-box .skill-bar{
  background-color: rgba(0, 0, 0, 0.1);
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
}
.skill-bar .skill-percent{
  background-color: #4070f2;
  height: 100%;
  border-radius: 6px;
  width: 100%;
  position: relative;
  display: block;
  opacity: 0;
  animation: progress 1s ease-in-out forwards;
}
.skill-percent.html{
  width: 100%;
  animation-delay: 0.1s;
}
.skill-percent.css{
  width: 90%;
  animation-delay: 0.2s;
}
.skill-percent.Javascript{
  width: 30%;
  animation-delay: 0.3s;
}
.skill-percent.C{
  width: 50%;
  animation-delay: 0.4s;
}
@keyframes progress{
  0%{
    opacity: 1;
    width: 0;
  }
  100%{
    opacity: 1;
  }
}
.skill-percent .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  background-color: #4070f2;
  border-radius: 3px;
  color: #fff;
  padding: 2px 6px;
  z-index: 1;
}
.tooltip::before{
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #4070f2;
  z-index: -1;
}
